name: Docker Image Release
on:
  workflow_dispatch:
  push:
    branches:
      - main
    tags:
      - "v*.*.*"

permissions:
  contents: read

jobs:
  docker-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Get tag or branch name
        run: |
          echo "TAG=${{ github.ref_name }}" >> $GITHUB_ENV
      - name: Update tag for main branch
        if: github.ref == 'refs/heads/main'
        run: |
          echo "TAG=latest" >> $GITHUB_ENV

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push frontend image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./deployment/build/frontend/Dockerfile
          push: true
          tags: volcanosh/vc-dashboard-frontend:${{ env.TAG }}
          platforms: linux/amd64,linux/arm64

      - name: Build and push backend image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./deployment/build/backend/Dockerfile
          push: true
          tags: volcanosh/vc-dashboard-backend:${{ env.TAG }}
          platforms: linux/amd64,linux/arm64

      - name: Logout from Docker Hub
        if: always()
        run: docker logout
